/*CSS 設定用エリア*/
@charset "UTF-8";

/*--Googleのフォント関連設定--*/
/*@import url(//fonts.googleapis.com/earlyaccess/notosansjp.css);*/

@font-face { /* noto-sans-jp-regular - latin_japanese */
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;
    src: url('//waya0125.com/settings/fonts/noto-sans-jp-v28-latin_japanese-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('//waya0125.com/settings/fonts/noto-sans-jp-v28-latin_japanese-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('//waya0125.com/settings/fonts/noto-sans-jp-v28-latin_japanese-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('//waya0125.com/settings/fonts/noto-sans-jp-v28-latin_japanese-regular.woff') format('woff'), /* Modern Browsers */
         url('//waya0125.com/settings/fonts/noto-sans-jp-v28-latin_japanese-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('//waya0125.com/settings/fonts/noto-sans-jp-v28-latin_japanese-regular.svg#NotoSansJP') format('svg'); /* Legacy iOS */
}

/* indexにする場合はこれを専用に貼る
<style>
    html{
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
</style>
*/

body {
    font-family: 'Noto Sans JP', sans-serif;/*フォントをGoogleのNoto Sans JPに指定するコード。前提条件に呼び出しコードが必要。*/
    margin: 0px;
    min-height: 100vh;
    width: 100vw;
    position: absolute;
    text-align: center;
    color: #000000;
    -ms-user-select: none;/* none:選択させない / all:すべてを強制的に選択させる(部分的ではない) / text:ユーザーが直接選択したものを選択できるようにする */
    -webkit-user-select: none;
    user-select: none;
    line-break: normal;/* auto:禁則処理を行わない / loose:最低限の禁則処理 / normal:一般的な禁則処理ルールを適用 / strict:細かな禁則処理うルールを適用 */
    word-wrap: normal;
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.body_i{
    font-size: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

main{
    flex: 1;
}

/* Google Noto Sans JPの文字サイズではなく太さを指定するコード。
呼び出し形式はclassなので class="weught100" などで呼び出し可能。
なお追記方法は <h1 class>など。詳しい例題は https://waya0125.com/blogs/2021/20210115.html
の内容を確認して下さい */
.weight100 {
    font-weight: 100
}

.weight300 {
    font-weight: 300
}

.weight400 {
    font-weight: 400
}

.weight500 {
    font-weight: 500
}

.weight600 {
    font-weight: 600
}

.weight700 {
    font-weight: 700
}

.weight900 {
    font-weight: 900
}

/*---ここまでGoogleのフォント関連設定---*/

/*---ここからはHTML本体の設定---*/
/*サイズや位置関連*/
h1 {
    font-size: 18px;
}

h2 {
    font-size: 34px;
}

h3 {
    font-size: 40px;
}

.kaigyo {
    white-space: pre;
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.all {
    -moz-user-select: all;
    -webkit-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

.text {
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.blog1 {
    line-height: 25px
}

.blog2 {
    line-height: 25px
}

.titlebar {
    display: table;
    width: 100%;
    background-color: #06615B;
    color: white;
}

.category {
    display: table-cell;
    text-align: left;
}

.subject {
    display: table-cell;
    text-align: center;
    font-size: 22px;
}

.date {
    display: table-cell;
    text-align: right;
}

.tab_index {
    display: table-cell;
    text-align: left;
}

.scroll_block {
    height: 150px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* IE, Edge 対応 */
    scrollbar-width: none;
    /* Firefox 対応 */
}

.scroll_block::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
}

.cp_hr02 {
    border-width: 2px 0 0 0;
    border-style: dashed;
    border-color: #757575;
}

/*フッター*/

header {
    width: 100vh;
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
}

header .headline {
    font-size: 32px;
}

.nav-list {
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
}

.nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

footer {
    width: 100vw;
    height: 5vh;
    margin: 0;
    padding: 0;
    left: 0vh;
    bottom: 0vh;
    padding: 10px 0;
    margin-top: auto;
    text-align: center;
    background-color: #c77f13;
    position: absolute;
}

.footer-text {
    color: #fff;
}

ul.footer-menu li {
    height: 1em;
    display: inline;
}

ul.footer-menu,footer p {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*プロフィール紹介用の左右二段構えのやつ
profile.htmlで使ってる*/
main {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    display: flex;
    width: 1000px; /* 例としての幅の定義 */
}

main .flex6_1 {
    margin: 1px;
    padding: 10px;
    flex: 6;
    color: #000000;
    background-color: #e0e0e0;
    text-decoration: none;
}

main .flex6_2 {
    margin: 1px;
    padding: 10px;
    flex: 6;
    color: #000000;
    background-color: #d4d4d4;
    text-decoration: none;
}

/*!!色関連!!*/
#uplay {
    color: #ffffff;
    text-decoration : none;
}
a {
    color: #000000;
    text-decoration : none;
}
a:hover {
    text-decoration : none;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #ffffff;
        background-color: #1f2023;
    }

    #uplay {
        color: #1f2023;
        text-decoration: none;
    }

    a {
        color: #ffffff;
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

    main .flex6_1 {
        margin: 1px;
        padding: 10px;
        flex: 6;
        color: #ffffff;
        background-color: #424242;
        text-decoration: none;
    }

    main .flex6_2 {
        margin: 1px;
        padding: 10px;
        flex: 6;
        color: #ffffff;
        background-color: #363636;
        text-decoration: none;
    }
}

@media only screen and (max-width: 750px) {
    img {
        max-width: 100%;
    }
}

@media only screen and (max-width: 979px) {
    html {
        Width: 100%;
    }
}

/*デバイスの横幅が979px以下の場合*/
@media only screen and (min-width: 321px) and (max-width: 768px) {
    html {
        Width: 100%;
    }
    main {
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
        margin-right: 20px;
        display: flex;
        Width: 100%; /* 例としての幅の定義 */
    }
}

/*デバイスの横幅が321以上768以下の場合*/
@media only screen and (max-width: 320px) {
    header {
        Width: 90%;
    }
    main {
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
        margin-right: 20px;
        display: flex;
        Width: 90%; /* 例としての幅の定義 */
    }
}

/*アコーディオンメニュー*/
/*Powered by https://webdesignday.jp/inspiration/technique/css/5316/*/
.acd-check{ /*サンプル*/
    display: none;
}

.acd-label { /*共通*/
    background: #333;
    color: #fff;
    display: block;
    margin-bottom: 1px;
    padding: 10px;
}

.acd-content { /*共通*/
    border: 1px solid #333;
    height: 0;
    opacity: 0;
    padding: 0 10px;
    transition: .5s;
    visibility: hidden;
}

.acd-check:checked + .acd-label + .acd-content { /*サンプル*/
    height: 50px; /*文字数に応じて高さを変更して下さい*/
    opacity: 1;
    padding: 10px;
    visibility: visible;
}

/* デバイスの横幅が320px以下の場合 */

/*User agent Stylesheet無効用用*/