/*旧式サイトからのコード移植*/

/*============================================
メインメニュー
============================================*/
ul#menu {
    height: 42px;
    background-color: #eeeeee;
    font-weight: bold;
}

ul#menu a {
    display: block;
    /*リンクをブロック表示にする*/
    height: 42px;
    padding-top: 4px;
    text-align: center;
    text-decoration: none;
    /*リンクの下線を無くす*/
    font-family: Arial, Helvetica, sans-serif;
    /*フォントの種類*/
}

#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu li {
    display: inline;
    padding: 0;
    margin: 0;
}

#menu li a {
    display: block;
    border-left: 8px solid #C97556;
    background-color: #474655;
    padding: 3px 10px;
    text-decoration: none;
    color: #E1E2CF;
    width: 150px;
    margin: 1px 0px;
    text-align: center;
    font-size: 14px;
}

#menu li a:hover {
    border-left: 8px solid #990033;
    background-color: #474655;
}

/*============================================
サブメニュー（左カラム）
============================================*/
div#submenu {
    width: 250px;
    /*幅の指定*/
    display: inline;
    /*IE6のマージン算出のバグ対策*/
    float: center;
    /*サブメニューのカラムを左寄せにする*/
}

/*サブメニューのヘッダ部分（余白調整・背景画像・背景色・文字サイズなど）*/
div#submenu_header {
    height: 26px;
    padding: 0px 0px 0px 0px;
    background-color: #646464;
    font-size: 90%;
    font-weight: bold;
    text-align: center;
}

/*サブメニューのボディ部分（余白調整・背景画像・背景色）*/
ul#submenu_body {
    padding-bottom: 8px;
    background-color: #2b2b2b;
    padding: 0px 0px 5px 0px;
}

ul#submenu_body li {
    font-size: 90%;
    /*文字サイズを90%にする*/
    list-style-type: none;
    /*リストマーカー無しにする*/
    display: inline;
    /*リスト項目をインライン表示にする*/
    text-align: left;
}

ul#submenu_body li a {
    display: block;
    /*リンクをブロック表示にする*/
    margin: 0px 400px 0px 400px;
    /*サブメニュー項目のマージン*/
    padding: 2px 0px 2px 200px;
    /*サブメニュー項目のパディング*/
    background-color: #2b2b2b;
    /*サブメニュー項目の背景色*/
    text-decoration: none;
    /*リンクの下線を無くす*/
}

ul#submenu_body li a:hover {
    background-color: #ffc5c5;
    /*リンクにマウスが乗ったら色を変える*/
}

/*============================================
コンテンツ（中央と右の2カラム全体）
============================================*/
div#content {
    margin: 10px 20px 10px 0px;
    /*幅の指定と位置調整*/
}

/*============================================
ニュース（中央カラム）
============================================*/
div#main {
    display: table-cell;
    width: 390px;
    margin-right: 105px;
    padding-top: 10px;
    /*幅の指定と位置調整*/
    float: center;
    /*カラムを左寄せにする*/
}

/*============================================
フッタ
============================================*/
div#footer {
    height: 42px;
    text-align: center;
    clear: both;
    /*回り込みを解除する*/
    background-image: url("images/bg_footer.jpg");
    /*フッタ部分の背景画像*/
    background-repeat: no-repeat;
    /*背景画像を繰り返さない*/
    background-color: #cccccc;
    /*フッタ部分の背景色*/
}

address {
    font-style: normal;
    /*フォントスタイルを標準にする*/
    font-size: small;
    /*フォントサイズを小さくする*/
    padding: 5px 0px 5px 0px;
    /*要素内容の位置調整*/
}
*/