/*CSS 設定用エリア*/
@charset "UTF-8";

/*--Googleのフォント関連設定--*/
@import url(//fonts.googleapis.com/earlyaccess/notosansjp.css);

html{
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 100%;
        position: absolute;
        top: 100px;
        left: 150px;
        margin-right: 50px;
        transform: translate(-50px, -50px);
}

body {
    font-family: 'Noto Sans JP', sans-serif; /*フォントをGoogleのNoto Sans JPに指定するコード。前提条件に呼び出しコードが必要。*/
    color: #000000;
    -ms-user-select: none; /* none:選択させない / all:すべてを強制的に選択させる(部分的ではない) / text:ユーザーが直接選択したものを選択できるようにする */
    -webkit-user-select: none;
    user-select: none;
    line-break: normal; /* auto:禁則処理を行わない / loose:最低限の禁則処理 / normal:一般的な禁則処理ルールを適用 / strict:細かな禁則処理うルールを適用 */
    word-wrap: normal;
}

/*!!色関連!!*/
#uplay {
    color: #ffffff;
    text-decoration : none;
}
a {
    color: #000000;
    text-decoration : none;
}
a:hover {
    text-decoration : none;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #ffffff;
        background-color: #1f2023;
    }
    #uplay {
        color: #1f2023;
        text-decoration : none;
    }
    a {
        color: #ffffff;
        text-decoration : none;
    }
    a:hover {
        text-decoration : none;
    }
}

@media only screen and (max-width: 750px) {
    img {
        max-width: 100%;
    }
}

@media only screen and (max-width: 979px) {
    Html{
        Width:100%;
    }
} /*デバイスの横幅が979px以下の場合*/

@media only screen and (min-width: 321px) and (max-width: 768px) {
    Html{
        Width:100%;
    }

} /*デバイスの横幅が321以上768以下の場合*/

@media only screen and (max-width: 320px) {
    header{
        Width:90%;
    }
} /* デバイスの横幅が320px以下の場合 */